<% let filePath = jsonData.pages[pageId].filePath %>


<!-- <a href="#top" class="c-sec__top sc-inview">
  <img src="./assets/images/top_icon.png" alt="">
</a> -->
<div class="l-footer__pageTop">
  <a href="#top" class="scroll">
    <svg>
      <use xlink:href="../assets/images/sprite.svg#ic-baseline-arrow-upward"></use>
  </svg>
  </a>
</div>

<footer id="footer" class="l-footer window">
  <div class="l-footer__inner">
    <div class="l-footer__container">

      <div class="l-footer__logo">
        <a href="">
          <img src="<%= filePath %>assets/images/logos.png" alt="">
        </a>
      </div>
<!--   
      <ul class="l-footer-sns__list">
        <li class="l-footer-sns__item">
          <a href="">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#ri-twitter-x-fill"></use>
          </svg>
          </a>
        </li>
        <li class="l-footer-sns__item">
          <a href="">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#tabler-message-circle"></use>
          </svg>
          </a>
        </li>
        <li class="l-footer-sns__item">
          <a href="">
            <svg>
              <use xlink:href="<%= filePath %>assets/images/sprite.svg#tabler-message-circle"></use>
          </svg>
          </a>
        </li>
      </ul> -->
      <p class="l-footer__copy">
        Copyright © akibako, All rights reserved.
      </p>
  
    </div>
  </div>


  <!-- <div class="c-line c-line--reverse"></div> -->
  <!-- <div class="section__bottom inview"></div> -->
</footer>

<!-- vendors -->
<script src="<%= filePath %>assets/scripts/vendors/jquery-3.6.0.min.js"></script>
<!-- <script src="<%= filePath %>assets/scripts/vendors/rellax.min.js"></script> -->
<!-- <script src="<%= filePath %>assets/scripts/vendors/jquery.magnific-popup.js"></script> -->
<!-- <script src="<%= filePath %>assets/scripts/vendors/lity.min.js"></script> -->
<script src="<%= filePath %>assets/scripts/vendors/jquery.matchHeight-min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script> -->
<!-- <script src="<%= filePath %>assets/scripts/vendors/intersection-observer.js"></script> -->
<script src="<%= filePath %>assets/scripts/vendors/swiper-bundle.min.js"></script>




<!-- scripts -->
<!-- <script src="<%= filePath %>assets/scripts/anim.js"></script> -->
<script src="<%= filePath %>assets/scripts/swiper.js"></script>
<script src="<%= filePath %>assets/scripts/main.js"></script>

<!-- <% if (pageId === 'home'){ %>
<% } else if (pageId === 'about') { %>
<% } else if (pageId === 'work') { %>
<% } else { %>
<% } %> -->

</body>

</html>