<% let title = (pageId === 'home') ? jsonData.siteInfo.name : jsonData.pages[pageId].name + jsonData.siteInfo.name%>
<% let description = jsonData.pages[pageId].description %>
<% let filePath = jsonData.pages[pageId].filePath %>
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@s_tanabe">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link rel="icon" href="<%= filePath %>assets/images/icon/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="<%= filePath %>assets/styles/vendors/font.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@4.0.0/dist/css/yakuhanjp.css"> -->
    <!-- <link href="<%= filePath %>assets/styles/vendors/lity.min.css" rel="stylesheet"> -->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' id='jquery-js'></script>
    <link href="<%= filePath %>assets/styles/vendors/swiper-bundle.min.css" rel="stylesheet">
    <link href="<%= filePath %>assets/styles/style.css" rel="stylesheet">
</head>




<header class="l-header">
    <div class="l-header__inner">
        <div class="l-header__top">
            <p class="l-header__txt">二次元なら何でもお任せ！みんなで作る二次元情報サイト！</p>
            <ul class="l-header-menu__list u-dp-pc">
                <li class="l-header-menu__item">
                    <a href="">
                        <svg>
                            <use xlink:href="<%= filePath %>assets/images/sprite.svg#tabler-home"></use>
                        </svg>
                        <span>アキバコ</span>
                    </a>
                </li>
                <li class="l-header-menu__item">
                    <a href="">
                        <svg>
                            <use xlink:href="<%= filePath %>assets/images/sprite.svg#tabler-message-circle"></use>
                        </svg>
                        <span>お問合せ</span>
                    </a>
                </li>
                <li class="l-header-menu__item">
                    <a href="">
                        <svg>
                            <use xlink:href="<%= filePath %>assets/images/sprite.svg#ri-twitter-x-fill"></use>
                        </svg>
                        <span>エックス</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="l-header__container">

            <div class="l-header__right">
                <div class="l-header__logo">
                    <a href="/">
                        <span>
                            アキバコ&nbsp;アーカイブ
                        </span>
                        <img src="<%= filePath %>assets/images/logos.png" alt="ゴースト速報">
                    </a>
                </div>

            </div>
            <div class="l-header__left">
                <div class="global-search">
                    <div class="search-box">
                        <form class="search-form" action="/search/contents">
                            <input type="hidden" name="content" value="">
                            <div class="suggestbox-container">
                                <input id="search-word" type="search" class="awesomplete search-area" name="keyword" placeholder="フリーワード">
                                <button type="submit" class="btn btn-transparent btn-action-global-search"
                                    title="検索する">
                                    <svg>
                                        <use xlink:href="<%= filePath %>assets/images/sprite.svg#tabler-search"></use>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</header>


<div class="l-header__wrap--sp">
    <div class="l-drawer__trigger js-draw--trigger">
      <span class="-line"></span>
    </div>
  </div>



<nav class="l-drawer__content js-draw--content">
    
    <div class="l-drawer__wrap">
        
        <ul class="l-drawer__list l-drawer__list--menu">
        <li class="l-drawer__item">
            <a href="#top" class="js-draw--trigger">
            <span>アキバコ</span>
            </a>
        </li>
        <li class="l-drawer__item">
            <a href="#about" class="js-draw--trigger">
            <span>お問合せ</span>
            </a>
        </li>
        <li class="l-drawer__item">
            <a href="#concept" class="js-draw--trigger">
            <span>X</span>
            
            </a>
        </li>
        </ul>
    </div>
    </nav>

<body id="top">
    <link rel="stylesheet" href="<%= filePath %>assets/images/sprite.svg">

    <div class="section__bg"></div>
    <div class="IEblock">
        <div class="comment_block">
            <p>このブラウザは閲覧非対応です。</p>
        </div>
    </div>