<% let title = (pageId === 'home') ? jsonData.siteInfo.name : jsonData.pages[pageId].name + jsonData.siteInfo.name%>
<% let description = jsonData.pages[pageId].description %>
<% let filePath = jsonData.pages[pageId].filePath %>
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@s_tanabe">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link rel="stylesheet" href="<%= filePath %>assets/styles/vendors/font.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@4.0.0/dist/css/yakuhanjp.css">
    <link rel="icon" href="<%= filePath %>assets/images/icon/favicon-32x32.png" sizes="32x32">
    <link href="<%= filePath %>assets/styles/vendors/lity.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="<%= filePath %>assets/styles/vendors/swiper-bundle.min.css" rel="stylesheet">
    <link href="<%= filePath %>assets/styles/style.css" rel="stylesheet">

</head>


<header class="l-header">
    <div class="l-header__inner">
        <div class="l-header__logo">
            <a href="/">
                <!-- 豚箱速報 -->
                <img src="<%= filePath %>assets/images/title2.png" alt="ゴースト速報">
            </a>
        </div>
        <div class="" style="display: flex; align-items: center;">
            <nav>
                <ul style="display: flex; align-items: center;">
                    <li>
                        <a href="" style="color: #fff;">
                            <span>ABOUT</span>
                        </a>
                    </li>
                    <li style="margin-left: 20px;">
                        <a href="" style="color: #fff;">
                            <span>メール</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="l-header__sns">
                <a href="https://twitter.com/home?lang=ja">
                    <svg class="i-twitter" style="width: 38px; height: 38px;">
                        <use xlink:href="<%= filePath %>assets/images/sprite.svg#ri-twitter-x-fill"></use>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</header>






    <!-- <nav class="l-drawer__content js-draw--content">
    
    <div class="l-drawer__wrap">
        
        <ul class="l-drawer__list l-drawer__list--menu">
        <li class="l-drawer__item">
            <a href="#top" class="js-draw--trigger">
            <span>top</span>
            </a>
        </li>
        <li class="l-drawer__item">
            <a href="#about" class="js-draw--trigger">
            <span>ABOUT</span>
            </a>
        </li>
        <li class="l-drawer__item">
            <a href="#concept" class="js-draw--trigger">
            <span>concept</span>
            
            </a>
        </li>
        <li class="l-drawer__item">
            <a href="#chara" class="js-draw--trigger">
            <span>character</span>
            </a>
        </li>
        <li class="l-drawer__item">
            <a href="#camp" class="js-draw--trigger">
            <span>campaign</span>
            </a>
        </li>
        </ul>
    </div>
    </nav> -->

<body id="top" data-character="1">
    <link rel="stylesheet" href="<%= filePath %>assets/images/sprite.svg">

    <div class="IEblock">
        <div class="comment_block">
            <p>このブラウザは閲覧非対応です。</p>
        </div>
    </div>